{% extends 'global.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
    <script src="{% static 'js/validate_in.js' %}" defer></script>
</head>
<div class="container-wrapper">
    <div>
        <!-- <img class="logo" src="{% static 'images/nuvtec-logo.png' %}" alt="Nuvtec-logo"> -->
        <h2>Verify your email!</h2>
        <p class="text-subtitle">Open your email and click the link!</p>
        <p>Your account has been created successfully, now we just need a verification sent to your email, 
        click on the link to verify your email and access our application, you have 10 MINUTES to verify, 
        if you do not verify your account will be removed.</p>
        <p class="text-subtitle">Check SPAM BOX!</p>
        <a class="go-to" href="/sing-in">Go to Sign in</a>
    </div>
</div>
{% endblock %}
