{% extends 'global.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">
    <script src="{% static 'js/validate_in.js' %}" defer></script>
</head>
<div class="container-wrapper">
    <div>
        <img class="icon" src="{% static 'images/icon-in.png' %}" alt="icon-in">
        <h2>Welcome Back!</h2>
        <p class="text-subtitle">Fill all inputs to enter in your account...</p>
        <form method="POST" onsubmit="return validateForm(event)">
            {% csrf_token %}
            <p>Your email*</p>
            <input id="email-address" type="text" name="email-address" placeholder="Email" autocomplete="off">
            <p>Your password*</p>
            <input id="password" type="password" name="password" placeholder="Password" autocomplete="off">
            <button type="submit">Enter</button>
            {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
            {% endif %}
            <a href="/home/sign-up">Don't have an account?</a>
        </form>
    </div>
</div>
{% endblock %}
